:root {
    --white: #ffffff;
    --grey: #414141;
    --red: #d62d20;
    --amarillo: #ffa700;
    --blue: #3367d6;
    --orange: #e34c26;
    --green: #008744;
    --blueReact: #61DBFB;
}

* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;   
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}


/*h1      {font-size: 3.2rem;}
h2      {font-size: 2rem;  }
h3      {font-size: 1.9rem;}
h4      {font-size: 1.6rem;}
p       {font-size: 1.6rem;}
label   {font-size: 2rem;  }
option  {font-size: 2rem;  }*/


a {
    text-decoration: none;
    color: var(--white)
}

a:hover {
    color: #bbbbbb;
}

/* Para que sirve? */
section[id] {
    scroll-margin-top: 80px;
}

body {
    font-family: 'roboto', sans-serif;
}

main {
    width: 100%;
    background-color: antiquewhite;

}


/* HEADER */

.header {
    position: fixed;
    background-color: transparent;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
}

header.scroll {
    background: rgba(0, 0, 0, 0.97);
}

.header__nav {
    width: 100%;
    display: inherit;
    margin: 0 auto;
    padding: 0 20px;
}

.logo::before {
    content: '<';
    color: var(--blue);
}

.logo::after {
    content: "/>";
    color: var(--blue);
}
.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    /*font-size: 30px;*/
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    display: inherit;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 auto;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover, .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.en {
    color: var(--white);
}
.es {
    color: var(--white);
}

.check {
    position: relative;
    width: 50px;
    height: 19px;
}

.check::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background: #333;
    border-radius: 25px;
}

.check::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: var(--white);
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid var(--blue);
}

.check:checked::after {
    left: 25px;
    border: 2px solid var(--blue);
}
.check:checked::before {
    background-color: var(--blue);
}

/* MAIN */